<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= recipe.Name %></title>
    <link rel="stylesheet" href="supp/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="supp/swiper/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="supp/jquery-nice-select/css/nice-select.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <!-- Preload -->
    <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    
<div id="main-wrapper">
        
    <!-- Header -->
    <%- include('partials/header') %>

    <!-- Sidebar -->
    <%- include('partials/sidebar') %>
    
    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <!-- Main Content -->
    <div class="content-body">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-3 col-lg-6  col-md-6 col-xxl-5 ">
                                    <!-- Tab panes -->
                                    <div class="tab-content" id="nav-tabContent">
                                      <div class="tab-pane fade show active" id="nav-first" role="tabpanel" aria-labelledby="nav-first-tab">
                                        <img class="img-fluid rounded" 
                                        <% if (recipe.Images.length > 0) { %>
                                            <img src="<%= recipe.Images[0] %>" alt="Recipe Image">
                                        <% } %>
                                        >
                                      </div>
                                      <div class="tab-pane fade" id="nav-second" role="tabpanel" aria-labelledby="nav-second-tab">
                                        <img class="img-fluid rounded" 
                                        <% if (recipe.Images.length > 0) { %>
                                            <img src="<%= recipe.Images[0] %>" alt="Recipe Image">
                                        <% } %>
                                        >
                                      </div>
                                      <div class="tab-pane fade" id="nav-third" role="tabpanel" aria-labelledby="nav-third-tab">
                                        <img class="img-fluid rounded" 
                                        <% if (recipe.Images.length > 0) { %>
                                            <img src="<%= recipe.Images[0] %>" alt="Recipe Image">
                                        <% } %>
                                        >
                                      </div>
                                      <div class="tab-pane fade" id="nav-for" role="tabpanel" aria-labelledby="nav-for-tab">
                                        <img class="img-fluid rounded" 
                                        <% if (recipe.Images.length > 0) { %>
                                            <img src="<%= recipe.Images[0] %>" alt="Recipe Image">
                                        <% } %>
                                        >
                                      </div>
                                    </div>
                                    <nav>
                                      <div class="product-detail-tab nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-first-tab" data-bs-toggle="tab" data-bs-target="#nav-first" type="button" role="tab" aria-controls="nav-first" aria-selected="true">
                                            <img class="img-fluid rounded" 
                                        <% if (recipe.Images.length > 0) { %>
                                            <img src="<%= recipe.Images[0] %>" alt="Recipe Image">
                                        <% } %>
                                        >
                                        </button>
                                        <button class="nav-link" id="nav-second-tab" data-bs-toggle="tab" data-bs-target="#nav-second" type="button" role="tab" aria-controls="nav-second" aria-selected="false">
                                            <img class="img-fluid rounded" 
                                        <% if (recipe.Images.length > 0) { %>
                                            <img src="<%= recipe.Images[0] %>" alt="Recipe Image">
                                        <% } %>
                                        >
                                        </button>
                                        <button class="nav-link" id="nav-third-tab" data-bs-toggle="tab" data-bs-target="#nav-third" type="button" role="tab" aria-controls="nav-third" aria-selected="false">
                                            <img class="img-fluid rounded" 
                                        <% if (recipe.Images.length > 0) { %>
                                            <img src="<%= recipe.Images[0] %>" alt="Recipe Image">
                                        <% } %>
                                        >
                                        </button>
                                        <button class="nav-link" id="nav-for-tab" data-bs-toggle="tab" data-bs-target="#nav-for" type="button" role="tab" aria-controls="nav-for" aria-selected="false">
                                            <img class="img-fluid rounded" 
                                        <% if (recipe.Images.length > 0) { %>
                                            <img src="<%= recipe.Images[0] %>" alt="Recipe Image">
                                        <% } %>
                                        >
                                        </button>
                                      </div>
                                    </nav>
                                </div>
                                <!--Tab slider End-->
                                <div class="col-xl-9 col-lg-6  col-md-6 col-xxl-7 col-sm-12">
                                    <div class="product-detail-content">
                                        <!--Product details-->
                                        <div class="new-arrival-content pr">
                                            <h4><%= recipe.Name %></h4>
                                            <div class="comment-review star-rating">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star-half-empty"></i></li>
                                                    <li><i class="fa fa-star-half-empty"></i></li>
                                                </ul>
                                                <span class="review-text">(9999 reviews) </span>
                                            </div>
            
                                            <p class="text-content">
                                                <h3>Ingredients</h3>
                                                <ul>
                                                    <% for(let i = 0; i < recipe.RecipeIngredientParts.length; i++) { %>
                                                        <li>- <%= recipe.RecipeIngredientQuantities[i] %> <%= recipe.RecipeIngredientParts[i] %></li>
                                                    <% } %>
                                                </ul> fresh and flavorful taste of fish burgers? Bite into a delicious and satisfying fish burger today and taste the difference!</p>
                                                
                                                <h3>Instructions</h3>
                                                <ul>
                                                    <% recipe.RecipeInstructions.forEach(function(instruction) { %>
                                                        <li>- <%= instruction %></li>
                                                    <% }); %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>

</div>

<!-- Script -->
<script src="./supp/global/global.min.js"></script>
<script src="./supp/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="./supp/star-rating/jquery.star-rating-svg.js"></script>
<script src="supp/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<script src="./js/custom.js"></script>
<script src="./js/dlabnav-init.js"></script>
<script src="./supp/swiper/js/swiper-bundle.min.js"></script>

</body>
</html>